* {
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  max-width: 500px;
  position: relative;
}

.slide {
  width: 100%
}

.btn-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: dodgerblue;
  font-size: 3rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.next-btn{
  right: 0;
}

.btn-controls:hover{
  background: rgba(0, 0, 0, 0.3);
}

.btn-controls:focus{
  color: red;
}

#root{
  height: 400px;
  background-color: aqua;
}